html,body,#root{
    width: 100%;
    height: 100%;
    margin: 0;
}


body{
    background: linear-gradient(135deg , #4f46e5,#9333ea);
    min-height: 100dvh;
   
    
}

.container{
    background: #ffffff;
    width: 100%;
   min-height: 100dvh;
    padding: 16px;
    border-radius: 20px 20px 0 0 ;
    box-sizing: border-box;
   
}


h1{
    text-align: center;
    margin-bottom: 20px;
    color: #111827;
}


.input-group{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input{
    flex: 1;
    padding: 8px 20px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    outline: none;
    
}

input:focus{
    border-color: #636611;
}

button{
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #4f46e5;
    color: white;
    transition: 0.2s ease;
}

button:hover{
    background: #4338ca;
}


.filters{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.filters button{
    background: #e5e7eb;
    color: #111827;
}

.filters button.active{
    background: #4f46e5;
    color: white;
}

.task{
    background: #f9fafb;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #e5e7eb;
    flex-wrap: wrap;


}

.task-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.done{
    text-decoration: line-through;
    color: gray;
}

.task button{
    background: #ef4444;
}

.task button.edit{
    background: #10b981;
   
  
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    padding: 12px;
  }

  h1 {
    font-size: 22px;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group button {
    width: 100%;
  }

  .task button {
    font-size: 14px;
    padding: 6px 10px;
  }
}
